@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Outfit:wght@100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Sevillana&display=swap');

@import "tailwindcss";

*{
    font-family: "Nunito Sans", sans-serif;
}

@layer base {
  button {
    @apply cursor-pointer;
  }

  input:not([type="checkbox"]) {
    @apply outline-none border border-gray-300 rounded-lg
           focus:ring-2 focus:ring-blue-500 focus:border-blue-500;
  }

  textarea {
    @apply outline-none border border-gray-300 rounded-lg resize-none
           focus:ring-2 focus:ring-blue-500 focus:border-blue-500;
  }
}











